.popup__container {
    display: grid;
    margin: 0 auto;
    margin-top: 195px;
    max-width: 430px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    position: relative;
}

@media screen and (max-width: 616px) {
    .popup__container {
        max-width: 282px;
        margin-top: 123px;
    }
}