.popup__container {
  margin: 0 auto;
  max-width: 430px;
  padding: 0;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

@media screen and (max-width: 616px) {
    .popup__container {
      max-width: 282px;
    }
}
