.profile {
    margin: 0 auto;
    max-width: 880px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 879px) {
    .profile {
        max-width: 582px;
    }
}

@media screen and (max-width: 616px) {
    .profile {
        flex-direction: column;
        max-width: 282px;
        padding: 36px 19px 0 19px;
        align-items: center;
    }
}