.profile__user-popup {
  max-width: 392px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

@media screen and (max-width: 879px) {
  .profile__user-popup {
    max-width: 282px;
  }
}

@media screen and (max-width: 616px) {
  .profile__user-popup {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__user-popup {
    max-width: 248px;
    justify-content: center;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
  }
}
