.header {
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 879px) {
    .header {
        max-width: 582px;
        padding-top: 28px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 616px) {
    .header {
      max-width: 320px;
      padding: 28px 0 27px 27px;
    }
}
