.popup__close {
    cursor: pointer;
    background: url(../../../images/popup-close.svg) center no-repeat;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 30%;
    top: 155px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 616px) {
    .popup__close {

    }
}