.popup__close {
    cursor: pointer;
    background: url(../../../images/popup-close.svg) center no-repeat;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    top: 155px;
    right: 32%;
}