.element__delete-button {
  padding: 20px;
  margin: 0;
  position: absolute;
  right: 8px;
  top: 9px;
  background: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-color: unset;
  background-position: center;
  max-width: 18px;
  min-height: 19px;
  border: none;
  transition: opacity 1s;
}

.element__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
